{% extends 'admin.html' %}
{% block content%}
<div class="container-fluid px-4">
    <h1 class="mt-4">Softwares</h1>
    <ol class="breadcrumb mb-4">
        <!-- <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
        <li class="breadcrumb-item active">Tables</li> -->
    </ol>
    <!-- <div class="card mb-4">
        <div class="card-body">
            Add Software
        </div>
    </div> -->
    <div class=" mb-4">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        {{form.software_name.label}}
                        {{form.software_name}}
                    </div>
                </div>
            </div>
            <!-- <div class="mt-4 mb-0">
                <div class="d-grid"><a class="btn btn-secondary btn-block" href="">Add Complaint</a></div>
            </div> -->
            <button type="submit" class="btn btn-secondary btn-block">
                Add Software
            </button>
        </form>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Software
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Software Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Software Name</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for software in softwares %}
                      <tr>
                        <td>
                          {{software.software_name}}
                        </td>
                        <td>
                          <a href="/editsoftware/{{software.id}}/" class="btn btn-secondary btn-sm">Edit</a>
                        </td>
                      </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}