{% extends 'base.html' %}
{% block content%}
<div class="container-fluid px-4">
    <h1 class="mt-4">Change Password</h1>
    <ol class="breadcrumb mb-4">
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            Edit {{username}}
        </div>
    </div>
    <div class=" mb-4">

        <form action="" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        {{varerr1}}
                        {{form.password.label}}
                        {{form.password}}
                    </div>
                </div>
                
                <br>

                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">
                        {{form.newpassword.label}}
                        {{form.newpassword}}
                    </div>
                    <div class="form-floating mb-3 mb-md-0">
                        {{form.c_newpassword.label}}
                        {{form.c_newpassword}}
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-secondary btn-block">
                Save Changes
            </button>
        </form>
    </div>
</div>

{% endblock content %}