{% extends 'admin.html' %}
{% block content%}
<div class="container-fluid px-4">
    <h1 class="mt-4">Change User Status</h1>
    <ol class="breadcrumb mb-4">
    </ol>
    <div class="card mb-4">
        <div class="card-body">
            Edit {{username}} Status
        </div>
    </div>
    <div class=" mb-4">

        <form action="" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-floating mb-3 mb-md-0">

                        {{varerr1}}
                        {{form.status.label}}
                        {{form.status}}

                    </div>
                </div>
            </div>

            <button type="submit" class="btn w-50 btn-secondary btn-block mb-3">
                Save Changes
            </button>
        </form>
    </div>
</div>

{% endblock content %}